@tailwind base;
@tailwind components;
@tailwind utilities;

.bgbubbles{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles{
    position: absolute;
    display: flex;
}

.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #39eb74;
    margin: 0 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #39eb74, 0 0 100px #39eb74;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s/var(--i));
}

.bubbles span:nth-child(even){
    background: #6d52e4;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #6d52e4, 0 0 100px #6d52e4;
}

@keyframes animate {
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}

.text-border {
    text-shadow: 
      2px 2px 0 black, 
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px black;
  }

ul.bg-white {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  
  ul.dropdown-open {
    max-height: 500px; 
  }